body {
  display: flex;
  justify-content: center;
  margin: 20px;
}
#main {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: row;
}

h1 {
  text-align: center;
}

#cards-board {
  width: 80%;
  height: 600px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.card {
    width: calc(25% - 10px);
    height: 100px;
  object-fit: contain;
  background-color: rgb(251, 250, 253);
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid rgb(86, 151, 98);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#menu {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-right: 2px dashed rgb(86, 151, 98);
}



.set {
  width: 20%;
  height: fit-content;
  background-color: brown;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
}

#rules-div {
  width: 50%;
  height: 50%;
}

#new-game {
  background-color: rgb(86, 151, 98);
  width: 50%;
  height: 10%;
  font-size: 1em;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px;
  border: none;
}

#three-cards {
  background-color: rgb(86, 151, 98);
  width: 50%;
  height: 10%;
  font-size: 1em;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px;
  border: none;
  display: none;
}

#timer {
  width: 50%;
  height: 5%;
  font-size: 0.9em;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 10px;
  border: 2px solid rgb(86, 151, 98);
  display: none;
  justify-content: center;
  background-color: #49274383;
}



#sets-found {

    background-color: rgb(196, 214, 155);
    width: 50%;
    height: 10%;
    font-size: 1em;
    font-weight: 600;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    border: none;
    display: none;
    justify-content: center;


}